*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
.wrapper{
    position: relative;
    min-height: 100%;
}
.demo-container{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
	border-radius: 5px;
    font-size: 0;
}
/**/